*{
    font-family: arial;
}
h4{
    color: grey;
    text-align: center;
}
.idk{
    background-color: pink !important;
    padding: 20px;
    margin-top: 100px !important;
    margin:auto;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px grey;
}
label{
    font-weight: bold;
}
input{
    border-radius: 7px;
    border: 0.1px solid rgb(170, 170, 170);
    padding-left: 2px;
}
.buttons{
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}
.b1{
    background-color: blue;
    border: 1px solid lightblue;
    padding: auto;
    border-radius: 5px;
}
.b1:hover{
    box-shadow: white;
}

.result{
width: auto;
height: 50px;
border: 0.1px solid grey;
padding-top: 10px;
text-align: center;
margin-top: 20px;}